<!DOCTYPE html>
<html>
<head>
	<script src="/javascripts/jquery.js"></script>
	<script src="/application.js"></script>
	<script type="text/javascript" charset="utf-8">
		var exports = this;
		jQuery(function(){
			var App = require("app");
			exports.App = new App({el: $("body")});
		})
	</script>
</head>
<body>
	
</body>
</html>
